/* Estilo para la ventana modal */
.modal {
    /*display: ; /* Oculta la ventana por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* Contenido de la ventana modal */
.modal-content {
    background-color: #fff;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón de cierre */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:disabled {
    background-color: #f0f0f0;
    color: #aaa;
    cursor: not-allowed;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}